.SectionBlogs__box {
    width: 100%;
    padding: 50px;
    background-color: aquamarine;
    margin-bottom: 20px;
    border-radius: 20px;
}

.SectionBlogs__pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.S__pagination__btn1,
.S__pagination__btn2 {
    width: 80px;
    height: 30px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 5px;
    transition: all .3s ease;
}

.S__pagination__btn1:hover,
.S__pagination__btn2:hover {
    background-color: rgb(200, 57, 57);
}

.SectionBlogs__pagination span {
    font-size: 18px;
    margin: 5 10px;
}

.SectionBlogs__name {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}

.SectionBlogs__desc {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.SectionBlogs__btn {
    width: 100px;
    height: 30px;
    background-color: brown;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
}

.SectionBlogs__btn:hover {
    background-color: rgb(200, 57, 57);
}