*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    height: 200vh;
}

.header {
    width: 100%;
    background-color: black;
    margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__box {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__box__name {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}